<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="regist">
        <div class="regist__wrap">
            <div class="form__block">
                <h2 class="form__title">Регистрация</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Зарегистрироваться</button>
                    <a href="/login">Уже есть аккаунт? Войти</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>